/*header*/
header{
	background-color: transparent;
	padding: 20px 30px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 9999;
}
	header::after{
		content: "";
		display: block;
		height: 1px;
		background-color: transparent;
		border-bottom: 1px rgba(255, 255, 255, 0.2) dashed;
		position: absolute;
		left: 30px;
		bottom: 0;
		right: 30px;
	}

	/*logo*/
	.logo{}
	
	/*menu*/
	.menu{
		list-style: none;
		padding: 0;
		margin: 0 auto 0 40px;
	}
		.menu li a{
			display: block;
			color: #FFF;
			text-decoration: none;
			font-size: 16px;
			font-weight: 500;
			margin: 0 20px 0 0;
		}
	
	/*auth lang*/
	.auth_lang-item{
		margin: 0 0 0 20px;
	}
		.lang-btn{
			border: 0 !important;
			background-color: transparent;
			color: #FFF;
			font-size: 14px !important;
			font-weight: 500 !important;
		}
		.lang-btn img{
			display: inline-block;
			margin: 0 0 0 5px;
		}