/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic');

/*INCLUDES*/
@import "./promo.css";
@import "./header.css";

/*CORE*/
html, body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

*, *:before, *:after{
	box-sizing: border-box;
	outline: none;
}

/*CONTENT*/
.container{
	width: 100%;
	max-width: 1600px;
	margin: auto;
	padding: 0 30px;
}

/*BTNS*/
.btn{
	display: inline-block;
	padding: 10px 20px;
	border: 1px #DDD solid;
	border-radius: 2px;
	text-decoration: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
}
	.btn-dark{
		border-color: rgba(255, 255, 255, 0.3);
		color: #FFF;
	}

/* FLEX */
.flex{
	display: flex;
}
.flex-jc-sb{
	justify-content: space-between;
}
.flex-vcenter{
	align-items: center;
}

/*TABL*/
.tabl{
	display: table;
	width: 100%;
	margin: 60px auto 0;
	padding: 0;
	border: 1px rgba(255, 255, 255, 0.3) solid;
	border-radius: 5px;
}
.tabl-row{
	display: table-row;
}
.tabl-row:nth-child(even){
	background-color: rgba(255, 255, 255, 0.02);
}
.tabl-cell{
	display: table-cell;
	padding: 20px 30px;
	font-size: 18px;
}
.tabl-row .tabl-cell:first-child{
	text-align: left;
}
	.tabl-cell img{
		width: 25px;
		height: auto;
		position: relative;
		left: inherit;
		bottom: inherit;
		transform: translate(0);
	}