/*promo*/
body{
	color: #FFF;
	background-color: #333;
}

/*SECTION*/
.section{
	padding: 90px 0 0;
	min-height: 100vh;
}
.promo_section{
	background-size: cover;
	position: relative;
	text-align: center;
	overflow: hidden;
}
	.promo_section .container{
	    padding: 0 30px 35%;
	}
	.promo_section img{
		position: absolute;
		left: 50%;
		bottom: 5%;
		width: 120%;
		transform: translateX(-50%);
	}

/*TITLE SUB*/
.title{
	font-size: 70px;
	font-weight: 600;
	margin: 20px 0;
}
.sub_title{
	font-size: 22px;
	line-height: 150%;
	font-weight: 400;
	margin: 20px auto;
	max-width: 550px;
	opacity: .8;
}
.nad_title{
	opacity: 1;
}

/*FIRST SECTION*/
.first-section{
	background-image: url('../images/map-bg.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: #333;
	background-size: cover;
	position: relative;
}
	.first-section::before{
		position: absolute;
		left: 0;
		top: 0;
		content: "";
		display: block;
		width: 100%;
		height: 120px;
		background-color: #333;
	}
	.first-section img{
		max-width: 100%;
		width: auto;
	}

/*SECOND SECTION*/
.second-section{
	background-color: #1D3C3E;
}

/*THIRD SECTION*/
.third-section{
	background-color: #1D3E2A;
}

/*FOUR SECTION*/
.four-section{
	background-color: #5B2121;
}

/*FIVE SECTION*/
.five-section{
	background-color: #302F70;
}
	.five-section img{
		width: 90%;
		bottom: -35%;
	}

/*SIX SECTION*/
.six-section{
	background-color: #133D82;
}
	.six-section img{
		bottom: -35%;
	}

/*SEVEN SECTION*/
.seven-section{
	background-color: #1D1D1D;
}
	.seven-section .container{
		padding: 0 30px 10%;
	}